/* —————————————————————————————————————————————————————————————————————————————
   CSS Reset
*/

html {
  box-sizing: border-box;
  -moz-text-size-adjust: none; /* ref [2] */
  -webkit-text-size-adjust: none; /* ref [2] */
  text-size-adjust: none; /* ref [2] */
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  position: relative;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select, address, cite {
  font: inherit;
}

/* for react z-index */
#root, #__next {
  isolation: isolate;
}

hr {
  border: none;
}

ul, ol {
  padding: 0;
  list-style: none;
}

/* —————————————————————————————————————————————————————————————————————————————
   References

   [1]: https://chriscoyier.net/2023/10/03/being-picky-about-a-css-reset-for-fun-pleasure/
   [2]: https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/
   
*/