# ————————————————————————————————————————————————————————————————————————————————————————
# MacOS

.DS_Store

# ————————————————————————————————————————————————————————————————————————————————————————
# General

.env*
dist/
build/

# ————————————————————————————————————————————————————————————————————————————————————————
# npm

node_modules/
.npm

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# ————————————————————————————————————————————————————————————————————————————————————————
# Cloudflare Wrangler

.dev.vars
.wrangler/

# ————————————————————————————————————————————————————————————————————————————————————————
# Yarn

# Yarn Integrity file
.yarn-integrity

# Logs
logs
_.log
npm-debug.log_
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
